:root {
    --cor-primaria: #ee2211;
    --cor-primaria-escura: #900;
    --fundo-1: #f7f7f7;
    --fundo-2: #ffffff;
    --texto: #000000;
    --subtitulo: rgba(0, 0, 0, 0.2);
    --onda: url("img/onda-clara.svg");
    --bortao: #ffffff;
    
}

@media (prefers-color-scheme: dark) {
    :root {
        --fundo-1: #111111;
        --fundo-2: #000000;
        --texto: #ffffff;
        --subtitulo: rgba(255, 255, 255, 0.2);
        --onda: url("img/onda-escura.svg");
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: var(--fundo-1);
    display: grid;
    gap: 60px;
    justify-items: center;
    margin-top: 60px;
}

p {
    font-size: 1.25rem;
    line-height: 1.3;
    max-width: 60ch;
}

.botao {
    /* text */
    color: var(--bortao);
    text-decoration: none;
    text-transform: uppercase;

    /* background */
    background-color: var(--cor-primaria);
    padding: 0.938rem 1.875rem;
    border-radius: 4px;
}

.botao:hover{
    background: var(--cor-primaria-escura);
}

.header {
    display: grid;
    justify-items: center;
    gap: 50px;
}

.menu a {
    display: block;
    color: var(--texto);
    background-color: var(--fundo-2);
    padding: 10px 20px;
    margin: 0px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    border: 2px solid transparent;
}

.menu a:hover {
    border-color: var(--cor-primaria);
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    background-color: var(--fundo-2);
}

.apresentação h1 {
    font-size: 2rem;
}


.caracteristicas, .apresentacao, .vantagens {
    padding: 40px;
}

.apresentacao {
    color: var(--texto);
    display: grid;
    justify-items: end;
    gap: 20px;
    align-content: center;
    text-align: right;
    position: relative;
}

.apresentacao::before {
    content: "";
    width: 60px;
    height: 4px;
    background-color: var(--cor-primaria);
    position: absolute;
    top: 30px;
    right: -30px;
}

.vantagens {
    color: var(--subtitulo);
    font-size: 4rem;
    background-color: var(--fundo-1);
    display: grid;
    align-content: center;
    text-align: right;
    text-transform: uppercase;
    background-image: var(--onda);
}

.item_caracteristica {
    color: var(--texto);
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 20px;
    padding: 20px;
    border-left: 4px solid transparent;
    
}
.item_caracteristica p {
    grid-column: 2;
}
.item_caracteristica h3 {
    grid-column: 2;
}

.item_caracteristica img {
    align-self: center;
    justify-self: center;
}

.item_caracteristica:hover {
    border-color: var(--cor-primaria);
}

.item_caracteristica:nth-child(odd) {
    background-color: var(--fundo-1);
}

.bike {
    max-width: 100%;
    display: block;
    object-fit: cover;
    height: 100%;
}

.rodape {
    background-color: var(--fundo-2);
    text-align: center;
    padding: 40px;
    width: 100%;
    box-sizing: border-box;
    color: var(--texto);
}

/* Responsividade  */
@media (max-width: 960px) {
    .vantagens {
        font-size: 3rem;
    }
}

@media (max-width: 800px) {
    body {
        gap: 20px;
        margin-top: 20px;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .apresentacao::before {
        content: none;
    }


    .apresentacao {
        justify-items: left;
        text-align: left;
    }

    .vantagens {
        text-align: center;
    }

    .bike {
        max-height: 400px;
        width: 100%;
        object-fit: cover;
    }

    .header {
        gap: 20px;
    }

    .rodape {
        padding: 20px;
    }
}

@media (max-width: 391px) {
    .vantagens {
        font-size: 2rem;
    }
}
